.edit{
    color: #FECA0A;
    font-size: 19px;
    padding: 8px;
}

.edit:hover{
    color: orange;
    
}

.delete:hover{
    color: #C4121A;
    
}



.delete{
    color: #EC343B;
    font-size: 17px;
    padding: 8px;
}

.add-user{
    color: #27AFEC ;
    font-size: 17px;
    padding: 8px;
}



.padre{
    padding-left:5vh;
    padding-right: 5vh;
}
.agregar{
    padding: 5px;
}
.bt-agregar{
    color: #27AFEC ;
    border-radius: 10px;
    font-size: 18px;
    
    font-family: 'Atlane';
}

.bt-agregar:hover{
    color: white;
    background-color: #27AFEC;
}

.alertDelete{
    font-size: 50px;
    color: #EC343B;
}

.texto{
    font-size: 20px;
}

.contenedor{
    display: grid;
    justify-content: center;
}

.modal-alert-delete .modal-content{
    border-radius: 15px;
}

.modal-add .modal-content{
    border-radius: 20px;

}




.bdy {
    font-size: 20px;
}

.lblregistro{
    font-family: 'Atlane';

}
.botones{
    font-family: 'Jamie Woods';
    font-size: 20px;
}

.iconos{
    color: #504424;
    font-size: 17px;
}


/* para los botones del formulario------------------------- */

.input-boxes{
    margin-top: 20px;
    padding: 20px;
}

.input-box {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.input-box input{
    height: 80%;
    width: 90%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid #504424;
}

.input-box input:focus{
    border-color: #27AFEC;
}

.input-box i{
    position: absolute;
}

.btn-cancel{
    border-radius: 10px;
    color: grey;
    font-weight: 500;
}
.btn-add{
    border-radius: 10px;
    color: #27AFEC;
    font-weight: 500;
}

.btn-cancel:hover{
    background-color: grey;
    color: white;
    font-weight: 500;
}
.btn-add:hover{
    background-color: #27AFEC;
    color: white;
    font-weight: 500;
}

.rfc{
    text-transform:uppercase;
}